<div class="header">
  <div class="logo">
  <%= link_to image_tag('design_1.jpg'), root_path %>
  </div>
</div>
<div class="header2">
  <div class="links"> 
    <%= link_to "Home Page", root_path %>
    <%= link_to "Services", services_path%>
    <%= link_to "About Us", about_path%>
    <%= link_to "Contact Us", contact_path%>
  </div>
</div>
